<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="platform/sunshine/mapper/writer.xml"/>
        <mapper resource="platform/sunshine/mapper/article.xml"/>
        <mapper resource="platform/sunshine/mapper/reader.xml"/>
        <mapper resource="platform/sunshine/mapper/deal.xml"/>
        <mapper resource="platform/sunshine/mapper/behavior.xml"/>
    </mappers>
</configuration>